@media (max-width: 475px) {
    .bottom-tag {
        flex-direction: column;
        align-items: start !important;
    }

    .book-btn {
        width: 100%;
    }

    .room-facility-list {
        flex-direction: column;
    }
}

@media (max-width: 1176px) {
    .room-facility-list {
        width: 100% !important;
    }
}