#carousel {
    height: calc(100vh - 78px);
    overflow: hidden;
    position: relative;
}

.slide-container {
    display: flex;
    height: 100%;
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    transition: all ease-in-out 0.5s;
}

.slide {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide div {
    position: absolute;
    color: white;
    text-align: center;
    background: #0000006b;
    height: 100%;
    /* width: 94%; */
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slide h2 {
    font-size: 70px;
}

.slide p {
    font-size: 22px;
    width: 77%;
}

.slide-btns {
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
}

.slide-btns button {
    height: 48px;
    width: 48px;
    border-radius: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.slide-btns button:active {
    background-color: #c2d2eb;
}