.facilities-card {
    display: flex;
    height: 500px;
    border-radius: 20px;
    width: 98%;
    margin: 15px auto;
    overflow: hidden;
    box-shadow: 0px 1px 8px -1px black;
    background-color: #9100ff17;
}

.facilities-card img {
    width: 500px;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 41px;
    gap: 15px;
}

.content h3 {
    font-size: 35px;
    font-weight: bold;
}

.content p {
    font-size: 18px;
    line-height: 27px;
}

.facilities-card:nth-child(odd) {
    flex-direction: row-reverse;
}