#sidebar {
    width: 500px;
    overflow: hidden;
    border: 1px solid #9c9999;
    background: #c0c0c01c;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 20px;
    height: 100vh;
    top: 78px;
    left: 0;
    position: sticky;
    transition: all ease-in-out 0.2s;
}

#sidebar h3 {
    margin: 5px 0;
}

#sidebar input[type="text"],
#sidebar select {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

#sidebar p {
    display: flex;
    align-items: center;
    gap: 11px;
}

#sidebar label {
    cursor: pointer;
}

#sidebar button {
    padding: 19px 38px;
    font-size: 18px;
    background: #ff3700;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    width: max-content;
    float: right;
    align-self: right;
    margin: 20px 0;
}

.hide-filter {
    width: 0 !important;
    padding: 0 !important;
}